{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <!-- SimpleLightbox plugin CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />            
{% endblock %}

{% block content %}
    <!-- Masthead-->
    <header class="masthead">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 align-items-center justify-content-center text-center" style="height:350px;">
                <div class="col-lg-8 align-self-end">
                    <h2 class="text-white font-weight-bold">Bringing Metallica's live energy to you</h2>
                    <hr class="divider" />
                </div>
                <div class="col-lg-8 align-self-baseline">
                    <p class="text-white-75 mb-5">Welcome to The Four Horsemen virtual HQ</p>
                    <a class="btn btn-primary btn-medium" href="#home_about">Find Out More</a>
                </div>
            </div>
        </div>
    </header>

    <!-- Shows-->
    <section class="page-section bg-dark text-white" id="home_shows">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8 col-xl-6 text-center">
                    <h2 class="mt-0">The Horsemen are drawing nearer...</h2>
                    <hr class="divider" />
                    <p class="text-white-75">Check where we may roam!</p>
                </div>
            </div>
            <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
                <table id="tour-table">                 
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Location</th>
                            <th class="d-none d-sm-block">Venue</th>
                            <th>Tickets</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if shows %}
                            {% for show in shows %}
                                <tr>
                                    <td>{{ show.date|date:"d/M/y" }}</td>
                                    <td>{{ show.location }}</td>
                                    <td class="d-none d-sm-block">{{ show.venue }}</td>
                                    <td>
                                        {% if show.tickets_url %}
                                            <a href="http://{{ show.tickets_url }}" target="_blank" class="rsvp-band">Tickets</a>     
                                        {% else %}
                                            <a class="rsvp-band not-avail-band">N/A</a>
                                        {% endif %}                           
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}  
                            <tr>
                                <td colspan="4"><p class="text-white-75">There is no upcoming dates scheduled!</p></td>                        
                            </tr>                              
                        {% endif %}                    
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <!-- Media-->
    <div id="home_media">
        <div class="container-fluid p-0">
            <div class="row g-0">
                <div class="col-lg-4 col-sm-6">
                    <a class="media-box" href="https://www.youtube.com/embed/hZ0Q6X2GjNA?autoplay=1" title="Performing 'Enter Sandman'">
                        <img class="img-fluid" src="{% static 'img/media/thumb/media01.jpg' %}" alt="..." />
                        <div class="media-box-caption">
                            <div class="project-category text-white-50">Live Audio Clube - São Paulo/2016</div>
                            <div class="project-name">Performing "Enter Sandman"</div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="media-box" href="{% static 'img/media/media02.jpg' %}" title="Master Of Puppets tribute tour">
                        <img class="img-fluid" src="{% static 'img/media/thumb/media02.jpg' %}" alt="..." />
                        <div class="media-box-caption">
                            <div class="project-category text-white-50">Rock na Praça Festival - São Paulo/2017</div>
                            <div class="project-name">Master Of Puppets tribute tour</div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="media-box" href="{% static 'img/media/media03.jpg' %}" title="Master Of Puppets tribute tour">
                        <img class="img-fluid" src="{% static 'img/media/thumb/media03.jpg' %}" alt="..." />
                        <div class="media-box-caption">
                            <div class="project-category text-white-50">Live Audio Clube - São Paulo/2016</div>
                            <div class="project-name">Master Of Puppets tribute tour</div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="media-box" href="{% static 'img/media/media04.jpg' %}" title="Master Of Puppets tribute tour">
                        <img class="img-fluid" src="{% static 'img/media/thumb/media04.jpg' %}" alt="..." />
                        <div class="media-box-caption">
                            <div class="project-category text-white-50">Live Audio Clube - São Paulo/2016</div>
                            <div class="project-name">Master Of Puppets tribute tour</div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="media-box" href="https://www.youtube.com/embed/XHL93Cc5ZyY?autoplay=1" title="Performing 'Wherever I may roam'">
                        <img class="img-fluid" src="{% static 'img/media/thumb/media05.jpg' %}" alt="..." />
                        <div class="media-box-caption">
                            <div class="project-category text-white-50">Live Audio Clube - São Paulo/2016</div>
                            <div class="project-name">Performing "Wherever I may roam"</div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="media-box" href="{% static 'img/media/media06.jpg' %}" title="Master Of Puppets tribute tour">
                        <img class="img-fluid" src="{% static 'img/media/thumb/media06.jpg' %}" alt="..." />
                        <div class="media-box-caption p-3">
                            <div class="project-category text-white-50">Rock na Praça Festival - São Paulo/2017</div>
                            <div class="project-name">Master Of Puppets tribute tour</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Call to action-->
    <section class="page-section bg-dark text-white">
        <div class="container px-4 px-lg-5 text-center">
            <h2 class="mb-4">Follow The Four Horsemen on social media!</h2>
            <div class="row py-3">
                <div class="col-5 text-end">
                    <a href="https://www.facebook.com/metallicacover.br/" target="_blank" title="fan page">
                        <h1><i class="bi bi-facebook"></i></h1>
                    </a>
                </div>
                <div class="col-2 text-center">
                    <a href="https://youtube.com/user/metallicacoverbr/" target="_blank" title="live performance">
                        <h1><i class="bi bi-youtube"></i></h1></a>
                    </div>
                <div class="col-5 text-start">
                    <a href="https://www.instagram.com/metallicacover.br/" target="_blank" title="wherever we may roam">
                        <h1><i class="bi bi-instagram"></i></h1></a>
                    </div>
            </div>
        </div>
    </section>

    <!-- About-->
    <section class="page-section bg-primary text-white" id="home_about">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8 col-xl-6 text-center">
                    <h2 class="mt-0">Reason for being...</h2>
                    <hr class="divider divider-light" />
                    <p class="text-white-75 mb-5">When the passion took place</p>
                </div>
            </div>    
            <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
                <div class="col-md-6">
                    <img class="card-img-top mb-5" src="{% static 'img/template/about-band.jpg' %}" alt="We are T4H" />
                </div>
                <div class="col-md-6 text-white mb-5">
                    <p><span>THE FOUR HORSEMEN</span> werer born in 2002/2004 aiming to reproduce the spirit and presence of the most extraordinary band in the world, <span>METALLICA</span>.
Born under the passion for their style and sound, our band's restless motivation is to bring the audience the feeling of being in an authentic Metallica concert
</p>
                    <p>We do it not only by an accurate characterization and a thorough sound design but especially through the energy we discharge on stage. 
The influence of James Hetfield, Jason Newsted, Kirk Hammett and Lars Ulrich extends from what you hear to what you can see and feel. 
</p>
                    <p>That's why we care about intros, scenarios and even pyrotechnics - we want you to experience the heavy, the classic and the controversial in every album.</p>
                    <p><span>THE FOUR HORSEMEN</span> is focused on represent that it is one of the best stages that <span>METALLICA</span> jhas lived in his career, <span>"LIVE-SHIT"</span> era. This time experienced by
them from the years 1988 to 1993, where they bring the greatest classics in their "set list".</p>
                    <p>Among them, songs like: Enter Sandman, Nothing Else Matters, The Unforgiven, And Justice For All, Master of Puppets, Seek & Destroy, The Four Horsemen, Fade to
Black, For Whom The Bell Tolls, Creeping Death and many others.</p>

                    <!--<a class="btn btn-light btn-xl" href="#services">Get Started!</a>-->
                </div>
            </div>
        </div>
    </section>

    <!-- Contact-->
    <section class="page-section" id="home_contact">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8 col-xl-6 text-center">
                    <h2 class="mt-0">Get in touch!</h2>
                    <hr class="divider" />
                    <p class="text-muted mb-5">If you're keen to book us or just curious about our project, drop us a line!</p>
                </div>
            </div>
            <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
                <div class="col-lg-6">
                    <form class="p-3 requires-validation" id="contactForm" action="{% url 'home' %}" novalidate method="POST">
                        {% csrf_token %}
                        <!-- Name input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="name" name="name" type="text" placeholder="Enter your name..." required/>
                            <label for="name">Your Name</label>
                            <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                        </div>
                        <!-- Email address input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="email" name="email" type="email" placeholder="name@example.com" required/>
                            <label for="email">Email address</label>
                            <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                            <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                        </div>
                        <!-- Phone number input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="phone" name="phone" type="tel" placeholder="(123) 456-7890" />
                            <label for="phone">Phone number</label>
                        </div>
                        <!-- Subject-->                        
                        <div class="form-floating mb-3">
                            <input class="form-control" id="subject" name="subject" type="text" placeholder="Enter your name..." required/>
                            <label for="name">Subject</label>
                            <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                        </div>                        
                        <!-- Message input-->
                        <div class="form-floating mb-3">
                            <textarea class="form-control" id="message" name="message" type="text" placeholder="Enter your message here..." style="height: 10rem" required></textarea>
                            <label for="message">Message</label>
                            <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
                        </div>
                        <!-- Submit Button-->
                        <div class="d-grid"><button class="btn btn-primary btn-xl" id="submit" type="submit">Submit</button></div>
                    </form>
                </div>
            </div>
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-4 text-center mb-5 mb-lg-0">
                    <div class=" text-muted">
                        <a href="https://api.whatsapp.com/send?phone=+5511985163685" title="WhatsApp" target="_blank">
                            <i class="bi-phone fs-2 mb-3"></i></a> +55 (11) 98516-6385 / +353 830 69 14 67
                    </div>
                    <div class="text-muted">
                        <a href="mailto:metallicacover@metallicacover.com.br">
                            <i class="bi-envelope fs-2 mb-3"></i></a> metallicacover@metallicacover.com.br
                    </div>
                </div>
            </div>
        </div>
    </section>    
{% endblock %}

{% block extra_js %}
    <!-- SimpleLightbox plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
    <script type="text/javascript">
        window.addEventListener('DOMContentLoaded', event => {
            // Activate SimpleLightbox plugin for portfolio items
                new SimpleLightbox({
                    elements: '#home_media a.media-box'
                });
            });             
    </script>
{% endblock %}     