{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <!-- <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}"> -->
{% endblock %}

{% block content %}
<section class="page-section bg-light" id="cart">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 col-xl-6 text-center">
                <h2 class="mt-0">Your Profile!</h2>
                <hr class="divider" />
                <p class="text-muted mb-5">Check here your orders history and their status.</p>
            </div>
        </div>
        <div class="row">
            {{ profile }}
        </div>
    </div>
</section>
{% endblock %}