{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% block meta %}
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
            <meta name="description" content="Web App site of Metallica tribute band from Brazil" />
            <meta name="author" content="Roberto Oliveira" />
        {% endblock %}

        {% block extra_meta %}
        {% endblock %}

        {% block corecss %}
            <!-- Favicon-->
            <link rel="icon" type="image/x-icon" href="{% static 'img/favicon/favicon.ico' %}" />        
            <!-- Bootstrap Icons-->
            <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
            <!-- Google fonts-->
            <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
            <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
            <!-- Core theme CSS (includes Bootstrap)-->
            <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        {% endblock %}

        {% block extra_css %}
        {% endblock %}

        {% block corejs %}
            <!-- Bootstrap core JS-->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
            <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>    
        {% endblock %}

        {% block extra_js %}
        {% endblock %}

        <title>T4H - Metallica tribute band {% block extra_title %}{% endblock %}</title>
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="{% url 'home' %}" alt="Home" title="TF4 Logo" ><img class="menu-logo"></a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto my-2 my-lg-0">
                        <li class="nav-item d-none"><a class="nav-link auto-hide" href="#page-top">Home</a></li>                        
                        <li class="nav-item"><a class="nav-link auto-hide" href="#home_shows">Shows</a></li>
                        <li class="nav-item"><a class="nav-link auto-hide" href="#home_media">Media</a></li>
                        <li class="nav-item"><a class="nav-link auto-hide" href="#home_about">About</a></li>
                        <li class="nav-item"><a class="nav-link auto-hide" href="#home_contact">Contact</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'products' %}">Merch</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Account</a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                                {% if request.user.is_authenticated %}
                                    {% if request.user.is_superuser %}
                                        <a href="/admin" class="dropdown-item">App Management</a>
                                        <li><hr class="dropdown-divider" /></li>                                        
                                    {% endif %}
                                    <a href="#" class="dropdown-item">My Account</a>
                                    <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                                {% else %}
                                    <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                                    <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                                {% endif %}                                
                            </ul>
                        </li>            
                        {% if product_count %}
                            <li class="nav-item"><a class="nav-link" href="{% url 'view_bag' %}"><i class="bi-cart-fill"></i> {{ product_count }}</a></li>                        
                        {% endif %}                        
                    </ul>
                </div>
            </div>        
        </nav>
        {% if messages %}
            <div class="message-container">
                {% for message in messages %}
                {% with message.level as level %}
                    {% if level == 40 %}
                        {% include 'includes/feedback/error.html' %}                   
                    {% elif level == 30 %}
                        {% include 'includes/feedback/warning.html' %}                  
                    {% elif level == 25 %}
                        {% include 'includes/feedback/success.html' %}               
                    {% else %}
                        {% include 'includes/feedback/info.html' %}                  
                    {% endif %}
                {% endwith %}
            {% endfor %}                
            </div>
        {% endif%}

        {% block page_header %}
        {% endblock %}

        {% block content %}
        {% endblock %}

        <footer class="bg-dark py-5">
            <div class="container">
                <div class="row">
                    <div class="text-center text-muted">THE FOUR HORSEMEN<br/>A METALLICA tribute band - 2021</div>
                </div>
            </div>
            <button onclick="topFunction()" id="topBtn" title="Go to top"><i class="bi bi-arrow-up"></i></button>
        </footer>

        {% block postloadjs %}
            <script src="{% static 'js/scripts.js' %}" type="text/javascript"></script>
        {% endblock %}
    </body>
</html>
