{% extends "base.html" %}
{% load static %}

{% block content %}
    <!-- Product details section-->
    <section class="page-section bg-light" id="product_detail">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8 col-xl-6 text-center">
                    <h2 class="mt-0">Product details!</h2>
                    <hr class="divider" />
                    <p class="text-muted mb-5">Check how cool that item would fit you!</p>
                </div>
            </div>
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-md-6">
                    {% if product.image %}                    
                        <a href="{{ product.image.url }}" target="_blank">
                            <img class="card-img-top mb-5 mb-md-0" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                    {% else %}
                        <a href="">
                            <img class="card-img-top mb-5 mb-md-0" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                        </a>
                   {% endif %}                  
                </div>
                <div class="col-md-6">
                    <div class="small mb-1"><i class="bi bi-tags mr-1"></i> {{ product.category.friendly_name }}</div>
                    <h2 class="mt-0">{{ product.name }}</h2>
                    <div class="fs-5 mb-5">
                        <span class="text-decoration-line-through">$30.00</span>
                        <span>${{ product.price }}</span>
                    </div>
                    <p class="text-muted mb--0">{{ product.description }}</p>
                    
                    <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                        <div class="row">
                            {% csrf_token %}
                            {% with product.has_sizes as s %}
                            {% if s %}
                                <div class="col-12 mt-5">
                                    <span>Size:</span>    
                                    <select class="form-select" name="product_size" id='id_product_size'style="width: 90px">
                                        <option value="xs">XS</option>
                                        <option value="s">S</option>
                                        <option value="m" selected>M</option>
                                        <option value="l">L</option>
                                        <option value="xl">XL</option>
                                    </select>
                                </div>
                            {% endif %}                        
                            <div class="col-6 align-self-end mt-5">
                                <div class="d-flex align-items-center">
                                    <a href="#!" type="button" title="Remove item" class="btn btn-primary btn-small" onclick="decrementQtt(false)">
                                        <i class="bi bi-dash"></i>
                                    </a>
                                    <input class="form-control text-center floatNumber" style="width: 4rem" type="num" name="quantity" value="1" min="1" max="99" maxlength="2" data-item_id="{{ product.id }}" id="qttField" required>
                                    <a href="#!" type="button" title="Add item" class="btn btn-primary btn-small" onclick="incrementQtt(false)">
                                        <i class="bi bi-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div> 
                        <div class="row">
                            <div class="col-6 fs-5 mt-5">
                                <button class="btn btn-primary btn-xl" type="submit">
                                    <i class="bi-cart-fill me-1"></i>
                                    Add to cart
                                </button>
                            </div>
                            <div class="col-6 fs-5 mt-5 align-self-end">
                                <a class="btn btn-outline-dark mt-aut" href="{% url 'products' %}">Keep Shopping</a>  
                            </div>
                        </div>
                     
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        {% endwith %}
                    </form>                               
                </div>
            </div>
        </div>
    </section>
{% endblock %}